* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--white);
}
:root {
  --lightblue: #0084fd;
  --blue: #0084fd;
  --blueh3: #1e93fd;
  --white: #ffffff;
  --grey: #333333;
  --purple: #9792e4;
  --bluecard: #b5ddff;
  --bluestarted: #d5d4f4;
}
.debug {
  border: 1px solid black;
  min-height: 50px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
header {
  background-color: var(--lightblue);
  color: var(--white);
  padding: 1rem 2rem;
}
footer {
  background-color: var(--grey);
}

/* HEADER  */

/* FLEX  */
.flex {
  display: flex;
}
.just-between {
  justify-content: space-between;
}
.just-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.nav-menu {
  display: none;
}

/* MAIN  */

#planning,
#benefits,
#get-started {
  background-color: var(--purple);
}
/* BIG CARD      */
.card {
  background-color: var(--bluecard);
  margin: 0.7rem 2rem;
  border-radius: 20px;
}
.btn-card,
h3,
.prg-card {
  margin: 1rem 2rem;
}
.big > h3 {
  font-size: 22px;
  color: var(--blueh3);
  padding-top: 2rem;
}
.btn-card {
  background-color: var(--blue);
  border: 0px;
  border-radius: 22px;
  padding: 0.7rem 3rem;
}
.btn-card > a,
.btn-card > i {
  color: var(--white);
  text-decoration: none;
  margin-left: 3px;
}

.prg-card {
  line-height: 25px;
  text-align: left;
  font-size: 18px;
}
.img-card > img {
  max-width: 90%;
  margin-left: 20px;
  display: block;
}
/* SMALL CARDS */

.small > h3 {
  color: var(--blueh3);
}

.icons {
  font-size: 60px;
  padding-top: 20px;
  color: #0084fd;
}

.small > p {
  margin: 0rem 1rem;
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

/* PLANNING */

.img-planning {
  margin: 3rem 0.7rem;
}
.title {
  font-size: 22px;
  color: var(--white);
  display: block;
  padding: 2rem 2rem;
  font-size: 26px;
  font-weight: 600;
}

#prg-planning {
  color: var(--white);
  font-size: 15px;
}

.rounded-card {
  background-color: var(--white);
  border-radius: 40px;
  margin-bottom: 25px;
}

.title-in-card {
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  margin-top: 1rem ;
}

.italic-prg {
  display: block;
  text-align: center;
  line-height: 30px;
  font-style: italic;
  font-weight: 500;
  padding: 1rem 1rem;
}

.arrow-btn {
  margin: 0 auto;
  border: 0px;
  border-radius: 50%;
  background-color: var(--purple);
  margin-bottom: 30px;
  margin-top: 20px;

}

.arrow-btn > a > i{
  padding: 14px 16px;
  font-size: 16px;
}
/* TESTIMONIALS */
.testimonials {
  text-align: center;
  margin-top: 30px;
  font-size: 13px
}
.title-sector {
  color: var(--purple);
  font-size: 24px;
  text-align: center;
  margin: 0px 60px;
  margin-top: 20px;
}
.normal-prg {
  font-style: normal;
  line-height: 25px;
  font-weight: 500;
  padding: 1rem 2rem;
}

.purple-rounded-card {
  background-color: var(--purple);

}
.padding-cheat {
  height: 30px;
}
.rounded-img {
  margin: 0 auto;
  margin-bottom: 20px;
}
.img {
  width: 200px;
  height: 200px;
 
  background-size:cover;
  border-radius: 50%;
  background-position: 50% 50%;
}
.img-1 {
  background-image: url(../img/testimonial1.jpg);
}
.img-2 {
  background-image: url(../img/testimonial2.jpg);
}
.img-3 {
  background-image: url(../img/testimonial3.jpg);
}
.img-4{
  background-image: url(../img/about.jpg);
  width: 150px;
  height: 150px;
  margin-left: 25px;
}
.small-prg {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  margin: 0 20px;

}

.card-people-name {
  text-align: center;
  display: block;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0;
}
.white-title {
  color: var(--white);
  margin: 25px 30px;
  font-size: 30px;
}
.number {
 font-size: 28px;
 padding-top: 25px;
}

.number, .scnd-title {
  text-align: left;
  margin-left: 30px;
  color: var(--purple);
  font-weight: bold;
}

.scnd-title {
  font-size: 18px;  
  padding-top: 15px;
}
.left-align {
  line-height: 20px;
  font-size: 14px;
  
}
.purple-btn {
  background-color: var(--purple);
}

.title-about {
  font-size: 32px;
  color:var(--purple);
  font-weight: bold;
  padding: 25px 20px;
  margin-left: 10px;
}

.prg-about {
  margin: 0 30px;
  line-height: 35px;
  padding-bottom: 25px;
}

.quote {
  font-size: 52px;
  color: var(--purple);
  margin-left: 110px;
}

.img-caption {
  color:var(--purple);
  font-size: 28px;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 20px;
  padding-top: 15px;
}

.btn-linkedin {
  background-color: var(--purple);
}

.started {
  font-size: 18px;
  color: var(--bluestarted) ;
  padding-top: 40px;
}